.card {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.card:hover .image {
  transform: scale(1.08);
}

.image {
  width: 100%;
  height: 165px;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.title {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}
