#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.heading {
  text-align: center;
  margin-top: 50px;
}

.card-section {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 60px 25px;
}

.viewerSection {
  position: relative;
  width: 100%;
  height: 100vh;
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0.7rem 1rem;
  font-size: 16px;
  line-height: 100%;
  background-color: #007a33;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
}

.backBtn:hover {
  background-color: #005d25;
}

@media (max-width: 768px) {
  .card-section {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .backBtn {
    left: 10px;
  }
}
